{% liquid 
  assign title = section.settings.title
  assign button_text = section.settings.button_text
  assign button_url = section.settings.button_url
  assign source = section.settings.source
  assign product_list = section.settings.product_list
  assign collection = section.settings.collection
  assign badge_enabled = section.settings.badge_enabled
  assign reviews_enabled = section.settings.reviews_enabled
  assign savings_enabled = section.settings.savings_enabled

  if source == "product_list"
    assign products = product_list
  elsif source == "collection"
    assign products = collection.products
  endif
%}
<section class="platter">
</section>

{% schema %}
  {
    "name": "Platter",
    "class": "platter-section",
    "settings": [
      {
        "type": "header",
        "content": "CONTENT"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Best Sellers"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop All Best Sellers"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "select",
        "id": "source",
        "label": "Source",
        "options": [
          {
          "value": "product_list",
          "label": "Product List"
          },
          {
            "value": "collection",
            "label": "Collection"
          }
        ],
        "default": "product_list",
        "info": "Select the source of the content"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Product List",
        "info": "Select the products to display",
        "limit": 10
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "info": "Select the collection to display"
      },
      {
        "type": "header",
        "content": "SETTINGS"
      },
      {
        "type": "checkbox",
        "id": "badge_enabled",
        "label": "Badge Enabled",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "savings_enabled",
        "label": "Savings Enabled",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "reviews_enabled",
        "label": "Reviews Enabled",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Platter"
      }
    ]
  }
{% endschema %}
